//Colors
$bg-active:#0c7cec;
$font-blue:#042e73;
$icons:#797979;
$bg-grid: black;
$font-white:white;

//Structure
$line-height-header: 70px;

$width: 80%;

       

//Font
$main-font-size:12px;
    


